In [ ]:
import numpy as np
import pandas as pd

In [ ]:
jack=[1,0,1,0,0,0],
mary=[1,0,1,0,1,0],
jim=[1,1,0,0,0,0]

**QUIZ**

In [ ]:
def dissimilarity_binary(list1, list2):
    if len(list1) != len(list2):
        raise ValueError("Input lists must have the same length")

    r, s, q = 0, 0, 0

    for i in range(len(list1)):
        if list1[i] == 1 and list2[i] == 1:
             q=q+1
        elif list1[i] == 1 and list2[i] == 0:
            r=r+ 1
        elif list1[i] == 0 and list2[i] == 1:
            s=s+ 1

    dissimilarity = (r + s) / (q + r + s)
    return dissimilarity

jack = [1, 0, 1, 0, 0, 0]
mary = [1, 0, 1, 0, 1, 0]
jim = [1, 1, 0, 0, 0, 0]

dissim_jack_mary = dissimilarity_binary(jack, mary)
print('Dissimilarity between Jack and Mary:', dissim_jack_mary)
dissim_jack_jim = dissimilarity_binary(jack, jim)
print('Dissimilarity between Jack and Jim:', dissim_jack_jim)
dissim_mary_jim = dissimilarity_binary(mary, jim)
print('Dissimilarity between Mary and Jim:', dissim_mary_jim)

Dissimilarity between Jack and Mary: 0.3333333333333333
Dissimilarity between Jack and Jim: 0.6666666666666666
Dissimilarity between Mary and Jim: 0.75

**LAB WORK**

In [ ]:
# calculating euclidean distance between vectors
from math import sqrt
# calculate euclidean distance
def euclidean_distance(a, b):
  return sqrt(sum((e1-e2)**2 for e1, e2 in zip(a,b)))
# define data
row1 = [10, 20, 15, 10, 5]
row2 = [12, 24, 18, 8, 7]
# calculate distance
dist = euclidean_distance(row1, row2)
print(dist)

6.082762530298219

In [ ]:
from scipy.spatial.distance import euclidean
# define data
row1 = [10, 20, 15, 10, 5]
row2 = [12, 24, 18, 8, 7]
# calculate distance
dist = euclidean(row1, row2)
print(dist)

6.082762530298219

In [ ]:
# calculate manhattan distance
def manhattan_distance(a, b):
  return sum(abs(e1-e2) for e1, e2 in zip(a,b))
# define data
row1 = [10, 20, 15, 10, 5]
row2 = [12, 24, 18, 8, 7]
# calculate distance
dist = manhattan_distance(row1, row2)
print(dist)

13

In [ ]:
# calculating manhattan distance between vectors
from scipy.spatial.distance import cityblock
# define data
row1 = [10, 20, 15, 10, 5]
row2 = [12, 24, 18, 8, 7]
# calculate distance
dist = cityblock(row1, row2)
print(dist)

13

In [ ]:
# calculate minkowski distance
def minkowski_distance(a, b, p):
  return sum(abs(e1-e2)**p for e1, e2 in zip(a,b))**(1/p)
# define data

In [ ]:
row1 = [10, 20, 15, 10, 5]
row2 = [12, 24, 18, 8, 7]
# calculate distance (p=1)
dist = minkowski_distance(row1, row2, 1)
print(dist)
# calculate distance (p=2)
dist = minkowski_distance(row1, row2, 2)
print(dist)

13.0
6.082762530298219

In [ ]:
from scipy.spatial import minkowski_distance
# define data
row1 = [10, 20, 15, 10, 5]
row2 = [12, 24, 18, 8, 7]
# calculate distance (p=1)
dist = minkowski_distance(row1, row2, 1)
print(dist)
# calculate distance (p=2)
dist = minkowski_distance(row1, row2, 2)
print(dist)

13.0
6.082762530298219

In [ ]:
from scipy.spatial.distance import euclidean
 # define data
ali = [20,34]
bilal = [25,25]
 # calculate distance
dist = euclidean(ali, bilal)
print(dist)
print('ali and bilal:', dist)

10.295630140987
ali and bilal: 10.295630140987

In [ ]:
# calculating manhattan distance between vectors
from scipy.spatial.distance import cityblock
 # define data
ali = [20,34]
faris = [20,25]
 # calculate distance
dist = cityblock(ali, faris)
print(dist)

9

**LAB TASK**

In [ ]:
from scipy.spatial.distance import euclidean

grades = ['gradeC', 'gradeB', 'gradeA']
ali_grade = 'gradeC'
bilal_grade = 'gradeB'
age1 = 20
salary1 = 34
age2 = 25
salary2 = 25

ali_rank = grades.index(ali_grade) + 1
bilal_rank = grades.index(bilal_grade) + 1
M = len(grades)

ali_ordinal = (ali_rank - 1) / (M - 1)
bilal_ordinal = (bilal_rank - 1) / (M - 1)

ali = [age1, salary1, ali_ordinal]
bilal = [age2, salary2, bilal_ordinal]

dist = euclidean(ali[:2], bilal[:2])

print(f'Distance between ali and bilal: {dist}')
print(f'ali ordinal value: {ali[2]}')
print(f'bilal ordinal value: {bilal[2]}')

Distance between ali and bilal: 10.295630140987
ali ordinal value: 0.0
bilal ordinal value: 0.5